name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        julia-version: ['1.12']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Julia ${{ matrix.julia-version }}
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}

      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
